.aside_chat {
  border-radius: 10px;
  background: #fff;
  width: 291px;
  height: 400px;
  flex-shrink: 0;
}

.input {
  margin-bottom: 1rem;
  padding: 13px;
  width: 260px;
  height: 46px;
  border-radius: 5px;
  border: 0;
  background: #f2f2f2;
  color: #999;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inputs {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.input_meeting {
  width: 125px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #5e4ae3;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 13px 33px;
}

.input_schedule {
  width: 125px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #eaedf2;
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 13px 33px;
}

.aside_heading {
  padding-bottom: 10px;
  color: #000;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.aside_img {
  position: relative;
}

.aside_group {
  position: absolute;
  top: 39.8%;
  left: 10%;
}

.aside_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  position:relative;
}
.green {
  width: 9px;
  height: 9px;
  border-radius:100%;
  align-items:center;
  position: absolute;
  top: 86%;
  margin-left: -80%;
  background-color: #07A415;
  border: 2px solid white;
}

.aside_contacts {
  display: flex;
  flex-direction: column;
}
