.section2-container {
    width: 1020px;
    height: 600px;
    border-radius: 10px;
    background: #140E39;
    margin-left: 24px;
}
.section2-nav {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    border-radius: 10px 10px 0px 0px;
    background: #0F0A2B;
    width: 100%;
    height: 60px;
    flex-shrink: 0;
}
.section2-p {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.pre-title {
    color: #5E4AE3;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    margin-left: 90%;
}
.arrow {
    width: 30px;
    height: 30px;
    margin-left: 21px;
    
}
.icons-4 {
    width: 30px;
    height: 30px;
}
.icons-41 {
    color: #FFF;
    text-align: center;
    padding-top: 3px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #312867;
    align-items:center;
    
}

.search {
    color: #999;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.recorder {
    width: 80px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid #FFF;
    color: white;
    position: relative;
    
    .recorder-text {
        align-items:center;
        margin-left: 20px;
        padding-top: 6px;
    }
}
.oval {
    width: 6px;
    height: 6px;
    border-radius:100%;
    align-items:center;
    position: absolute;
    top: 40%;
    margin-left: 10%;
    background-color: #07A415;
}
.krug {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.text-white {
    color:#FFF;
    margin-left: 40%;
    margin-top: 1rem;
}
.man-2 {
    position:relative;
}
.man-2-1 {
    width: 255px;
    height: 255px;
    border-radius:100%;
    border: 2px solid #d51111;
    position: absolute;
   bottom:24%;
}
.mt-4 {
    padding-top: 1rem;
}

.white {
    color:#FFF;
    border-color: #0F0A2B;
}
.underline {
    text-decoration:underline;
}
.black-section-footer {
    width: 100%;
    height: 60px;
    background-color: #fff;
}
.black-section-footer-icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #0F0A2B;

    &before {
        content: "cc";
        color:#FFF
    }
}
