.header_container {
  background: #fff;
  margin-bottom: 1rem;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 0;

  .logo {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    .header_search_text {
      color: #999;
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-left: 0.6em;
    }
  }
}

.header_icons {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
